/* general theming for the page */
body {
    color: #B2D3A8;
    /*background-color: #1C3A13; */
    background-color: #122e17;
    font-size: 4vh;
    margin-top: 5vh;
}

/* all the styling for the box in the middle of the page
this is also used in list.vue but some values
are overwritten below
*/

.reasonBox {
    background-color: #4a6741;
    border-radius: 4px;
    padding: 20px;
    height: 90px;
    color: white;
    font-size: 16px;
    margin: 10px auto;
    width: 350px;
    top: 30%;
    left: 50%;
  }

/* adds some space between the buttons in the footer
could add soem margin-top later but I think for now it's fine.
*/

.footerButtons {
    margin-right: 1vh;
    margin-left: 1vh;
}

/*
Used to fix styling on the big list in list.vue
*/

#listContainer li {
    list-style-type: decimal;
    text-align: left;
    margin-left: 25%;
    margin-right: 10vh;
    margin-bottom: 1vh;
    font-size: 16px;
}

#listContainer .reasonBox {
    width: 80%;
    height: 1000px;
}