body {
    color: #B2D3A8;
    /*background-color: #1C3A13; */
    background-color: #122e17;
    font-size: 4vh;
    margin-top: 5vh;
}

code {
    background-color: #4a6741;
    border-radius: 4px;
    padding: 20px;
    height: 70px;
    color: white;
    font-size: 16px;
    margin: 10px auto;
    width: 350px;
    top: 30%;
    left: 50%;
  }